@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --custom-background-color : "#f9f8fb";
  --custom-stroke-color: rgb(255, 0, 0, 0.2); /* Fully opaque red */

  /* COLORS */
  --bg : rgba(249, 248, 251, 1);
  --pt : rgba(67, 68,75, 1);

  --black40 : rgba(0, 0, 0, 0.4);
  --black24 : rgba(0, 0, 0, 0.24);
  --black16 : rgba(0, 0, 0, 0.16);
  --black8 : rgba(0, 0, 0, 0.08);
  --black4 : rgba(0, 0, 0, 0.04);
  --black2 : rgba(0, 0, 0, 0.02);

  /* FONT SIZES */
  --font-size-large : 24px;
  --font-size-medium : 16px;
  --font-size-small : 14px;
  --font-size-tiny : 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* GLOBAL */
html {
  box-sizing : border-box;
}

body {
  background-color: var(--bg);

  color : var(--custom-background-color);

  * {
    /* box-shadow: 0 0 0 1px var(--custom-stroke-color); */
    box-sizing : border-box;
  }
}

h1 {
  font-size : var(--font-size-large);
}

label {
  font-size : var(--font-size-tiny);
}

input {
  width : 100%;
  padding : 8px;
  background-color : white;
  border : 1px solid var(--black8);
}

input[type="checkbox"] {
  width : 40px;
}

button {
  background-color : var(--black16);

  font-size : var(--font-size-tiny);

  padding-left : 16px;
  padding-right : 16px;
  /* padding-top : 2px;
  padding-bottom : 2px; */

  border-radius : 2px;
}

textarea:focus{
  outline : none;
}

.error {
  color : red;
}

.Button {
  background-color : var(--black8);

  width : 100%;

  font-size : var(--font-size-tiny);

  padding-left : 16px;
  padding-right : 16px;
  /* padding-top : 2px;
  padding-bottom : 2px; */

  border-radius : 2px;

  margin-bottom : 4px;
}

.Button:hover {
  background-color : var(--black24);
}

button:hover{ 
  background-color : var(--black40);
}

.fullButton {
  background-color : var(--black8);
  border-radius : 2px;

  height : 56px;
  text-align: left;

  font-size : var(--font-size-medium);

  margin-top : 40px;
}

/* CLASSNAME */
.meta {
  font-size : var(--font-size-tiny);
}

.meta2 {
  font-size : var(--font-size-tiny);
  color : var(--black40);
}

.page {
  flex : 1;
  height : 100%;
  padding : 16px;
}

.textfieldQuoteContainer {
  width : 100%;
  /* quotesTop + textfieldQuote */
  margin-top : calc(50vh - 400px - 40px);
}

.textfieldQuote {
  resize : none;
  overflow : visible;

  width : 100%;
  height : 40px;

  font-size : var(--font-size-large);
  border-bottom : solid 1px var(--black16);
  background-color: transparent;
}

.textFieldBookContainer {
  width : 100%;
  display : flex;
  flex-direction: column;
  margin-top : calc(50vh - 140px);
}

.textFieldBook {
  resize : none;
  overflow : visible;

  width : 100%;
  height : 40px;

  font-size : var(--font-size-large);
  border-bottom : solid 1px var(--black16);
  background-color: transparent;
}

.quotesTop {
  height : 400px;
}

.quotesList {
  display : flex;
  flex-direction: column-reverse;
  overflow-y: auto;

  height : 100px;
}

.quotesList2 {
  display : flex;
  flex-direction: column;
  overflow-y: auto;

  height : 100%;
}

.quoteRow {
  margin-bottom : 24px;
}

.statusBar {
  width : 100%;
  height : 24px;

  /* position : fixed; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: right; */
  gap : 24px;
  padding : 8px;

  background-color : var(--black4);
  font-size : var(--font-size-tiny);
}

.statusBar>div {
  display: flex;
  gap : 24px;
  align-items: center;
}
  

.navDivider {
  font-size : var(--font-size-tiny);
  padding-top : 24px;
  margin : 8px;

  border-bottom : 1px solid var(--black8);
}

.sidenav {
  height : 100%;
  width : 260px;
  overflow-y : scroll;

  background-color : white;
  overflow-x : hidden;
  transition : 0.3s ease-in-out;
  transition : width 0.5s ease;

  z-index : 999;
}

.sidenav.closed {
  width : 0;
}

.navLink {
  display : flex;
  height : 40px;

  padding-left : 8px;
  margin : 8px;
  align-items: center;
  
  border-radius: 2px;
  
  overflow-y : hidden;
  overflow-x : auto;
  white-space: nowrap; 
}

.navLink.unselected {
  background-color: transparent;
}

.navLink.selected {
  background-color: var(--black8);
}

.navLink.unselected:hover {
  background-color :rgba(0, 0, 0, 0.04);
  cursor : pointer;
}

.iconBtn {
  width : 40px;
  height : 40px;

  align-items: center;

  border-radius: 100%;

  /* padding: 6px; */

  background-color : var(--black8);
}

.icon {
  width : 24px;
  height : 24px;
}

.playerQuote {
  text-align: center;
  height : 100%;

  margin : 240px;

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}