@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --custom-background-color: rgba(0, 0, 0, 0.05); /* Red with 40% opacity */
  --custom-stroke-color: rgb(255, 0, 0, 0.5); /* Fully opaque red */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* Applying background color and stroke to every element */
  * {
    background-color: var(--custom-background-color);
    box-shadow: 0 0 0 1px var(--custom-stroke-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}